<div class="container text-center">
    <br>
    <div class="row">
        <div class="col">
            <a [routerLink]="['/detail']" routerLinkActive="active" ariaCurrentWhenActive="page">
                <div class="card">
                    <img src="\assets\img\placeholder.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <div class="card">
                <img src="\assets\img\placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="\assets\img\placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="\assets\img\placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

